extends ../../templates/layout.jade

block title
    | CSS Architecture - Specificity - Index

block header
    div(class='container')
        h1  Specificity Study

block content
    section(class="container")
        article
        
            a(href='/index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index
                
            p test :hover against !important