.s_prototype-move-up-half {
    transform: translateY(-50%);
}

.s_prototype-icon-circle {
    display: inline-block;
    background-color: #e3147d;
    border-radius: 50%;
    color: $theme__color-white;

    &--xsmall { width: 15px; height: 15px; line-height: 15px;}
    &--small { width: 25px; height: 25px; line-height: 25px;}
    &--medium { width: 50px; height: 50px; line-height: 50px;}
    &--large { width: 80px; height: 80px; line-height: 80px;}
}