/*---
title:   Layout
section: Object

description:

```example:html
<div style="position:relative;height:200px;width:200px;background-color:blue;">

    <div class="o_corner-top-left" style="height:50px;width:50px;background-color:red;">1</div>

    <div class="o_corner-top-right" style="height:50px;width:50px;background-color:red;">2</div>

    <div class="o_corner-bottom-left" style="height:50px;width:50px;background-color:red;">3</div>

    <div class="o_corner-bottom-right" style="height:50px;width:50px;background-color:red;">4</div>

</div>
```
*/
.o_corner-top-left
{
    position: absolute;
    top: 0;
    left: 0;
}

.o_corner-top-right
{
    position: absolute;
    top: 0;
    right: 0;
}

.o_corner-bottom-right
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.o_corner-bottom-left
{
    position: absolute;
    bottom: 0;
    left: 0;
}


.o_page-l
{
    display: flex;
}
.o_page-l__body
{
    flex-grow: 1;
}
.o_page-l__side
{
    width: 200px;
}


.o_flex-grid {
    display: flex;
    flex-wrap: wrap;

    &__col {
        display: flex;
        flex-direction: column; // IE need it
    }

    &__cell,
    &__expand {
        display: flex;
        flex-direction: column; // IE need it
        flex-grow: 1;
    }

    // fix bootstrap on Safari
    &.row:before, &.row:after {
        display: none !important;
    }
}
