extends ../templates/layout.jade

block title
    | CSS Architecture - Index

block header
    div(class='container')
        h1 CSS architecture

block content
    section(class="container")
        article
            h2 Welcome to CSS Architecture Index.

            ul
                li
                    a(href='specificity.html') Specificity study
                li
                    a(href='ui-library.html') UI Library