extends ../../templates/layout.jade

block title
    | CSS Architecture - UI Library - Component

block header
    div(class='container')
        h1 UI Library - Component

block content
    section(class="container")
        article
            
            a(href='index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index

            hr
                        
            h2 component/card.scss
            
            include ../../partials/ui-library/component-card.jade
            
            hr
                        
            h2 component/text.scss
            
            include ../../partials/ui-library/component-text.jade
            
        hr