extends ../../templates/layout.jade

block title
    | CSS Architecture - UI Library - Component

block header
    div(class='container')
        h1 UI Library - Component

block content
    section(class="container")
        article
            
            a(href='index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index

            hr/
            
            // code location
            h2 component/text.scss


            // UI title
            h3 .c_text-header
    
            // start code reference
            pre(class="pre-scrollable t_padding-xs-0 t_margin-xs-0 t_margin-bottom-xs-4")
                span(class="t_padding-left-xs-4") code:
                code(class="hljs html  t_padding-xs-0 t_margin-xs-0")
                    | 
                    |    <h1 class="c_text-header">c_text-header</h1>
                    | 
            // end code reference
            
            // start test
            div(class="t_margin-bottom-xs-4",backstopjs-test)
                h1(class="c_text-header") c_text-header
            // end test

            hr/