extends ../../templates/layout.jade

block title
    | CSS Architecture - UI Library - Extra
    
block header
    div(class='container')
        h1 UI Library - Extra

block content
    section(class="container")
        article
            
            a(href='index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index

            hr/
            