extends ../../templates/layout.jade

block title
    | CSS Architecture - UI Library - Generic

block header
    div(class='container')
        h1 UI Library - Generic

block content
    section(class="container")
        article
            a(href='index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index

            hr/
            
            include ../../partials/ui-library/generic-buttons.jade
            include ../../partials/ui-library/generic-panel.jade
            include ../../partials/ui-library/generic-pagination.jade
