extends ../../templates/layout.jade

block title
    | CSS Architecture - Index

block header
    div(class='container')
        h1 CSS architecture

block content
    section(class="container")
        article
            p Welcome to UI Library Index.
            
            a(href='/index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index

            ul
                li
                    a(href='generic.html') Generic
                li
                    a(href='extension.html') Extension
                li
                    a(href='base.html') Base
                li
                    a(href='object.html') Object
                li
                    a(href='component.html') Component
                li
                    a(href='section.html') Section
                li
                    a(href='trump.html') Trump
                li
                    a(href='extra.html') Extra