// namespaces:
// * text-utilities
// * text-header
// * text-subheader
// * text-description
// * text-label
// * text-link

/* @group text-utilities */
.text-reset {

}

.text-reset-h1_6 {

}

.text-reset-p {

}

.text-reset-a {

}
/* @end text-utilities */


/* @group text-header */
/*---
title:   text header
section: Component

Text header description mark down:

```example:html
<span class="c_text-header">text header</span>
```
*/
.c_text-header {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;

	&--primary {

	}

	&--secondary {

	}
}
/* @end text-header */


/* @group text-subheader */
.text-subheader {

	&--primary {

	}

	&--secondary {

	}
}
/* @end text-subheader */


.text-description {

}

.text-link {

}
