// namespaces:
// * text-utilities
// * text-header
// * text-subheader
// * text-description
// * text-label
// * text-link

/* @group text-utilities */
.text-reset {

}

.text-reset-h1_6 {

}

.text-reset-p {

}

.text-reset-a {

}
/* @end text-utilities */


/* @group text */

/*---
title:   text header
section: Component

Text header description mark down:

```example:html
<div><span class="c_text-header">text header</span></div>
<div><span class="c_text-header c_text-header--primary">text header</span></div>
<div><span class="c_text-header c_text-header--1">text header</span></div>
<div><span class="c_text-header c_text-header--2">text header</span></div>
```
*/
.c_text-header {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;

    // semantic
    &--primary {
        color: $theme__color-primary;
    }

    // not semantic
	&--1 {
        color: $theme__color-primary;
        font-size: 24px;
        line-height: 1.4;
	}

	&--2 {
        color: $theme__color-secondary;
        font-size: 26px;
        transition: color .5s linear;

        &:hover {
            color: $theme__color-primary;
        }
	}
}
/* @end text-header */


/* @group text-subheader */
.text-subheader {

	&--primary {

	}

	&--secondary {

	}
}
/* @end text-subheader */


.text-description {

}

.text-link {

}
