extends ../../templates/ui-component.jade

block vars
    - var uiTitle = 'c_card'
    - var codeStatus = 'draft'

block ui-demoTest
    div(class="t_margin-bottom-xs-4",backstopjs-test)
        div(class="col-xs-4")
            div(class="c_card t_cursor-pointer")
                img(class="t_width-xs-full", src="//41.media.tumblr.com/f073f5cfafd958f7443fff8d3704bfcf/tumblr_o24m6yeLHE1s4ixmuo1_500.jpg")
                div(class="c_card__cont")
                    div(class="c_card__cont-edge text-center")
                        span(class="s_prototype-icon-circle s_prototype-icon-circle--medium")
                            i(class="icon icon-video icon-video-ext t_text-size-xs-11")
                    h3(class="text-center") Title title

                    h4(class="text-center t_text-size-xs-3 t_text-uppercase t_color-magenta") close
                        time(datetime="2001-05-15T19:00") May 15

                    p Enter the mysterious world of one of nature's most awe-inspiring marine mammals.

                    a(href="#" class="c_text-anchor") Learn More

block ui-showCode
    | <div class="c_card">c_card</div>
