extends ../../templates/ui-component.jade

block vars
    - var uiTitle = 'c_text-header'
    - var codeStatus = 'draft'

block ui-demoTest
    div(class="t_margin-bottom-xs-4",backstopjs-test)
        | <h1 class="c_text-header">c_text-header</h1>
    
block ui-showCode
    | <h1 class="c_text-header">c_text-header</h1>