extends ../../templates/ui-component.jade

block vars
    - var uiTitle = 'pagination'
    - var codeStatus = 'standard'


block ui-demoTest
    div(backstopjs-test)            
        nav
            ul(class="pagination")
                li
                    a(href="#",aria-label="Previous")
                        span(aria-hidden="true") &laquo;
                li
                    a(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") 5
                li    
                    a(href="#",aria-label="Next")
                        span(aria-hidden="true") &raquo;   
    
    
block ui-showCode
    | <nav>
    |     <ul class="pagination">
    |         <li>
    |             <a href="#" aria-label="Previous">
    |                 <span aria-hidden="true">&laquo;</span>
    |             </a>
    |         </li>
    |         <li><a href="#">1</a></li>
    |         <li><a href="#">2</a></li>
    |         <li><a href="#">3</a></li>
    |         <li><a href="#">4</a></li>
    |         <li><a href="#">5</a></li>
    |         <li>
    |             <a href="#" aria-label="Next">
    |                 <span aria-hidden="true">&raquo;</span>
    |             </a>
    |         </li>
    |     </ul>
    | </nav>