// namespaces:

$t_layout__width-height_grid: 0, 15px, 30px, 60px, 90px;

.t_width {
    $property: 'width';
    @include grid-spacing($property,$t_layout__width-height_grid)
}

$t_layout__padding-margin_grid: 0, 2px, 5px, 10px, 15px, 20px, 25px, 30px, 45px, 60px, 75px, 90px;

.t_padding {
    $property: 'padding';
    @include grid-spacing($property,$t_layout__width-height_grid)
}

.t_margin {
    $property: 'margin';
    @include grid-spacing($property,$t_layout__width-height_grid)
}

$t_layout__font-size_grid: 0, 5px, 10px, 11px, 12px, 13px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 30px, 40px, 50px, 60px, 120px;

.t_text-size {
    $property: 'padding';
    @include grid-spacing($property,$t_layout__width-height_grid)
}