.t_text-bold { font-weight: bold !important; }
.t_text-italic { font-style: italic !important; }

.t_text-lowercase { text-transform: lowercase !important; }
.t_text-capitalise { text-transform: capitalize !important; }
.t_text-uppercase { text-transform: uppercase !important; }
.t_text-uppercase-first {
    text-transform: lowercase !important;

    &:first-letter {
        text-transform: uppercase- !important;
    }
}

.t_color-gray-base { @include build-color($gray-base,'color'); }
.t_color-gray { @include build-color($gray,'color'); }
.t_color-gray-lighter { color: $gray-lighter; }

.t_color-success { color: $brand-success; }
.t_color-warning { color: $brand-warning; }
.t_color-danger { color: $brand-danger; }

.t_color-red { color: $theme__color-red; }

.t_bgcolor-gray-base { background-color: $gray-base; }
.t_bgcolor-gray { background-color: $gray; }