doctype html
html
    head
        meta(charset='utf-8')
        title 
            block title
        // link(rel='stylesheet',href='css/vendor.css',media='screen')
        link(rel='stylesheet',href='/css/main.css',media='screen')
    body
        header
            block header

        main
            block content
            
        footer
            div(class='container') 
                | Made with <i class="icon-heart t_color-red"></i> by italians

        script(src='/js/vendor.js')
        script(src='/js/main.js')